html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #121212;
	font-family: sans-serif;
}
img {
	width: 100%;
}
h1 {  /* Livestream headers */
	position: absolute;
	margin-top: 20px;
	margin-left: 24px;
	font-family: 'Roboto';
	z-index: 1;
	color: white;
	opacity: 0.9;
	font-size: 14pt;
	letter-spacing: 0.009375em;
}
h2 {  /* Stats and data text */
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Roboto';
	font-weight: 500;
	color: white;
	opacity: .9;
	font-size: 14pt;
	letter-spacing: 0.009375em;
}
h3 { /* Stats and data labels */
	position: relative;
	padding-top: 14px;
	margin-top: 0;
	margin-bottom: 8px;
	font-family: 'Roboto';
	font-size: 11pt;
	color: white;
	opacity: 0.6;
	letter-spacing: 0.009375em;
}
h4 { /* Alert popup heading */
	position: relative;
	margin-bottom: 16px;
	margin-top: 0px;
	text-align: center;
	font-family: 'Roboto-bold-italic';
	z-index: 1;
	color: #121212;
	font-size: 24pt;
	letter-spacing: 0.009375em;
}
h4.light {
	display: inherit;
	color: white;
	font-size: 18pt;
	font-family: 'Roboto-bold';
}
p { /* Alert popup text */
	position: relative;
	font-family: 'Roboto';
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.25em;
	z-index: 1;
	color: #121212;
	font-size: 14pt;
	letter-spacing: 0.009375em;
}
p.light {
	display: inherit;
	color: white;
}
p.settings {
	display: inherit;
	font-size: 12pt;
	color: white;
}
hr {
	position: relative;
	margin: 0 auto 24px auto;
	width: 90%;
	border-style: inset;
	border-width: 0px;
	color: white;
}
form.set-val {
	margin: 10px 0 10px 0;
	display: grid;
	grid-template-columns: 90px 1fr 20px;
	grid-template-rows: 30px 30px;
	grid-gap: 5px 15px;
	align-items: center;
}
label.set-val {
	position: relative;
	font-family: 'Roboto';
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.25em;
	z-index: 1;
	color: white;
	/* color: #c2c2c2; */
	font-size: 12pt;
	letter-spacing: 0.009375em;
}
input.set-val {
	background-color: #404040;
	color: #c2c2c2;
	font-family: 'Roboto';
	font-size: 12pt;
	padding: 2px 8px 2px 8px;
	outline: none;
	border-style: solid;
	border-radius: 5px;
	border-color: white;
	border-width: 0px;
	height: 25px;
}
input.set-val:focus,
input.set-val:active {
	border-width: 1px;
}
input.set-val.operation {
	width: 70%;
}
button.set-val {
	-webkit-appearance: none;
	background: url(../images/confirm.png);
	background-color: transparent;
	background-size: 100%;
	outline: none;
	border: none;
	height: 20px;
	width: 20px;
	opacity: .6;
	-webkit-transition: .2s;
    transition: opacity .2s;
	cursor: pointer;
}
button.set-val:hover {
	opacity: .9;
}


/* LIVESTREAMS PANEL */

.page-container-left {
	width: 85%;
	height: 100%;
	float: left;
	position: relative;
}
.video-container {
	position: relative;
	background-color: transparent;
	width: 33.333%;
	height: 50%;
	float: left;
	z-index: 0;
}
.center-video {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	align-items: center;
	justify-content: center;
}
.show-editing {
	-webkit-appearance: none;
	background: url(../images/sliders.png);
	top: 20px;
	right: 55px;
	background-color: transparent;
	background-size: 100%;
	outline: none;
	border: none;
	height: 20px;
	width: 20px;
	position: absolute;
	opacity: .6;
	-webkit-transition: .2s;
    transition: opacity .2s;
	z-index: 1;
	cursor: pointer;
}
.show-fullscreen {
	-webkit-appearance: none;
	background: url(../images/expand.png);
	top: 20px;
	right: 20px;
	background-color: transparent;
	background-size: 100%;
	outline: none;
	border: none;
	height: 18px;
	width: 18px;
	position: absolute;
	opacity: .6;
	-webkit-transition: .2s;
	transition: opacity .2s;
	z-index: 1;
	cursor: pointer;
}
.show-editing:hover {
	opacity: .9;
}
.show-fullscreen:hover {
	opacity: .9;
}
.multi-slider {
	position: absolute;
	bottom: 10px;
	width: 100%;
	display: none;
}
.slider-box {
	position: relative;
	width: 90%;
	height: 30px;
	padding: 0 5% 0 5%; /* top right bottom left */
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
}
.edit-symbol {
	height: 18px;
	width: 18px;
	padding-right: 10px;
}
.slider {
	-webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: white;
    outline: none;
	border: 0;
    opacity: .6;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
	opacity: .9;
}
/*The circle on the slider*/
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
}
#fullscreen {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}
#all-videos {
	position: relative;
	width: 100%;
	height: 100%;
}

/*** CONTROLS AND INFO PANEL ***/

.page-container-right {
	width: 15%;
	height: 100%;
	float: left;
	position: relative;
	background-color: #121212;
	min-height: 690px;
}
#angle-animation {
	-webkit-appearance: none;
	position: relative;
	top: 10%;
    width: 90%;
	height: 10px;
	margin: 20px auto 20px auto;
    border-radius: 10px;
    background-color: #888888;
    outline: none;
    -webkit-transition: .2s;
    transition: .2s;
}

/* RIGHT PANEL */

.hoist-control {
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: #121212;
	margin-top: 110px;
	margin-bottom: 70px;
}
.hoist-control.sub {
	width: 100%;
	height: 90px;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
}
.hoist-control.cell {
	background-color: #1E1E1E;
	display: none;
	border-radius: 4px;
	outline: none;
	padding: 0;
	z-index: 1;
	margin: 5% 5% 5% 5%;
	width: 45%;
	cursor: pointer;
	-webkit-transition: .2s;
	transition: .2s;
}
.hoist-control.cell:hover {
	background-color: #292929;
}
.hoist-mode {
	-webkit-appearance: none;
	position: relative;
	margin: 10px 10% 10px 10%;
	padding: 0;
	background-color: #1E1E1E;
	border-color: #121212;
	border-radius: 4px;
	height: 40px;
	width: 80%;
	text-align: center;
	outline: none;
	border: none;
	cursor: pointer;
	-webkit-transition: .2s;
	transition: .2s;
}
.hoist-mode:hover {
	background-color: #292929;
}
.arrow {
	display: block;
	width: 100px;
	padding-bottom: 12px;
	padding-top: 12px;
	margin: auto;
	opacity: .50;
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear;
	cursor: pointer;
}
.arrow:hover {
	opacity: .65;
}
.arrow.active {
	opacity: 1;
}
.small-arrow {
	position: relative;
	display: block;
	opacity: 0.55;
	width: 70%;
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear;
	left: 50%;
	top: 50%;
	padding: 20px 10px 20px 10px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.small-arrow:hover {
	opacity: .65;
}
.small-arrow.active {
	opacity: 1;
}
.stats {
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #121212;
}
.cell {
	background-color: #1E1E1E;
	outline: none;
	margin: 0 10px 18px 10px;
	border-radius: 4px;
	padding-left: 16px;
	padding-right: 16px;
}
.cell.angle {
	height: 148px;
}
.cell.height {
	height: 100px;
}
.cell.mode {
	margin: 10px 10px 0px 10px;
	height: 38px;
	text-align: center;
	padding-left: 0;
}
.zero {
	background-color: transparent;
	position: absolute;
	height: 0;
	margin: 0;
	outline: none;
	border: none;
	opacity: 0.6;
	-webkit-transform: .2s;
	transition: .2s;
}
.zero.angle {
	bottom: 282px;
	right: 18px;
}
.zero.height {
	bottom: 117px;
	right: 18px;
}
.zero.download {
	right: 20px;
}
.zero:hover {
	opacity: .9;
	cursor: pointer;
}

/* POPUP FOR ERRORS */

.popup {
	border-radius: 6px;
	padding: 36px 34px 34px 36px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: .2s;
	transform: .2s;
}
.popup.error {
	display: none;
	width: 440px;
	background-color: #CF6679;
	z-index: 2;
}
.popup.confirm {
	display: none;
	background-color: #2c2c2c;
	width: 440px;
	z-index: 1;
}
.popup.settings {
	display: none;
	width: 500px;
	background-color: #2c2c2c;
	z-index: 3;
}
.close-error {
	background: url(../images/x-black.png);
	/* background-color: #CF6679; */
	filter: brightness(90%);
	-webkit-appearance: none;
	position: absolute;
	right: 10px;
	top: 10px;
	height: 30px;
	width: 30px;
	padding: 10px;
	outline: none;
	border: none;
	-webkit-transition: .2s;
	transition: .2s;
	opacity: .9;
	border-radius: 50%;
	background-size: 100%;
	z-index: 4;
	cursor: pointer;
}
.close-error:hover {
	filter: brightness(80%)
}

.close-popup {
	background: url(../images/x-light.png);
	/* background-color: #404040; */
	-webkit-appearance: none;
	position: absolute;
	right: 10px;
	top: 10px;
	height: 30px;
	width: 30px;
	padding: 10px;
	outline: none;
	border: none;
	-webkit-transition: .2s;
	transition: .2s;
	opacity: .9;
	border-radius: 50%;
	background-size: 100%;
	z-index: 4;
	cursor: pointer;
}
.close-popup:hover {
	filter: brightness(80%)
}

.popup-option {
	display: inherit;
	margin-top: 24px;
	width: 46.5%;
	position: relative;
	outline: none;
	border: none;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	-webkit-transition: .2s;
	transition: .2s;
	z-index: 1;
	float: left;
	cursor: pointer;
}
.popup-option.right {
	margin-left: 28px;
}
.popup-option.center {
	margin-left: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.popup-option:hover {
	filter: brightness(80%);
}
.popup.error button {
	background-color: #CF6679;
	filter: brightness(90%);
	display: none;
}
.popup.settings button {
	margin-top: 14px;
	background-color: #404040;
}
#confirm-no {
	background-color: #404040;
}
#confirm-yes {
	background-color: #75a478;
}
#show-settings {
	-webkit-appearance: none;
	background: url(../images/settings.png);
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: transparent;
	background-size: 100%;
	outline: none;
	border: none;
	height: 24px;
	width: 24px;
	opacity: .6;
	-webkit-transition: .2s;
    transition: opacity .2s;
	z-index: 1;
	cursor: pointer;
}
#show-settings:hover {
	opacity: .9;
}
.time-grid {
	display: grid;
	width: 101%;
	margin-left: 3px;
	grid-template-columns: 32% 16% 29% 18% 10%;
	grid-template-rows: 30px 30px;
	grid-gap: 5px 0px;
	justify-items: start;
	align-items: center;
}

/* IMPORTED FONTS */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-medium';
    src: url('fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-light';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-italic';
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-bold-italic';
    src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
}
